@import "../reset.css";

* {
  box-sizing: border-box;
}

h1 {
  font-size: 200%;
  margin-bottom: 0;
  padding-top: 2%;
  margin-left: 2%;
  text-align: center;
}


h2 {
  font-size: 150%;
  margin: .5% auto;
  text-align: center;
}

.book-item {
  border: solid 3px #C70000;

}
h3 {
  text-align: center;
  font-size: 125%;
  margin-bottom: 2%;
  padding-top: 2%;
}

h4 {
  text-align: center;
  font-size: 100%;
  margin-bottom: 2%;
}

.main-nav li{
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 1%;
  text-align: left;
  text-indent: 20px;
}

.container a {
  margin: 10%;
  border: white 3px;
}

textarea {
  resize: none;
}
