@import "reset.css";

* {
  text-align: center;
}

h1 {
  font-size: 200%;
  margin-bottom: 2%;
}


h2 {
  font-size: 150%;
  margin-bottom: .5%
}

h3 {
  font-size: 125%;
  margin-bottom: 1%;
}

li {
  margin-bottom: 1%;
}

.icon-menu {
  display: inline;
  position: absolute;
  top: 1vh;
  right: 3vw;
  font-size: 300%;
}

.main-nav li{
  display: none;
}

/*.icon-menu:hover + ul {
  display: block;
}*/

/*.main-nav:hover {
  display: block;
  background-color: gray;

}*/
